@use "sass:color";
@use '../scss/variables.scss' as v;

article.--post-permalink {
    .meta {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 15px;
        justify-content: flex-start;

        .date {
            color: color.scale(v.$color-text, $lightness: 20%);
            font-size: 1.1rem;
            font-family: v.$font-primary;
            font-weight: 400;
        }
        .read-time {
            color: color.scale(v.$color-text, $lightness: 20%);
            font-size: 1.1rem;
            font-family: v.$font-primary;
        }
    }
}
