@use "sass:color";

article.--post-permalink {
    .meta {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 15px;
        justify-content: flex-start;

        .date, .read-time {
            color: var(--theme-color-text-muted);
            font-size: 1.1rem;
            font-family: var(--font-ui);
            font-weight: 400;
        }
    }
}
