@use "sass:color";
@use '../site/scss/variables.scss' as v;

$font-size: 1.1rem;

.--post-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 15px;
    text-decoration: none;

    $color-text: #222222;
    $color-date: $color-text;
    $color-line: $color-text;
    $color-title: $color-text;
    $lightness: 20%;
    $saturation: 0%;

    &:hover {
        text-decoration: none;
        .date {
            color: $color-date;
            transition: color 0.2s;
        }
        .separator {
            background-color: color.scale($color-line, $lightness: 60%);
            transition: background-color 0.2s;
        }
        .title {
            color: $color-title;
            transition: color 0.2s;
            text-decoration: underline;
            
        }
    }

    .date {
        color: color.scale($color-date, $lightness: ($lightness + 30%));
        font-size: $font-size;
        font-family: v.$font-primary;
        font-weight: 300;
        flex-basis: 105px;
        flex-shrink: 0;
    }
    .separator {
        background-color: color.scale($color-line, $lightness: 80%);
        height: 1px;

        &.left {
            flex-basis: 20px;
            flex-shrink: 0;
        }
        &.right {
            flex-basis: 20px;
            flex-shrink: 0;
            flex-grow: 1;
        }
    }
    .title {
        color: color.scale($color-title, $lightness: $lightness);
        margin: 0;
        display: inline-block;
        font-family: v.$font-secondary;
        font-size: $font-size;
    }
    .tags {
        // &> span:first-child {
        //     margin-left: 20px;
        // }
    }

    @media screen and (max-width: v.$media-size-small) {
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 30px;

        .title {
            order: 1;

            flex-basis: 100%;
            margin-bottom: 10px;
            font-size: 1.5rem;
        }
        .tags {
            order: 2;
        }
        .date {
            order: 3;

            flex-basis: auto;
            margin-bottom: 5px;
        }
        .separator {
            display: none;
        }
    }
}