@use "sass:color";

$font-size: 1.1rem;

.--post-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
    text-decoration: none;
    color: var(--theme-color-text);
    padding: 5px;
    border-radius: 5px;
    line-height: 100%;
    position: relative;

    &:hover {
        text-decoration: none;
        transition: background-color 0.1s;
        background-color: var(--theme-color-surface-raised);

        .date>span, .title>span, .tags {
            transition: color 0.1s;
            transition: background-color 0.1s;
            background-color: var(--theme-color-surface-raised);
            color: var(--theme-color-text-link-hover);
        }
        .date>span {
            color: var(--theme-color-text-muted);
        }
    }

    .line {
        background-color: var(--theme-color-text-muted);
        opacity: 0.5;
        height: 0.05rem;
        left: 15px;
        right: 15px;;
        position: absolute;
        z-index: 1;
    }

    .date {
        color: var(--theme-color-text-muted);
        font-size: $font-size;
        font-family: var(--font-ui);
        font-weight: 400;
        flex-basis: 110px;
        flex-shrink: 0;
        margin-right: 10px;
        z-index: 10;

        >span {
            padding: 0 5px;
            background-color: var(--theme-color-bg);
        }
    }
    .title {
        color: var(--theme-color-text-link);
        margin: 0;
        display: inline-block;
        font-family: var(--font-title);
        font-size: $font-size;
        font-weight: 500;
        z-index: 10;

        >span {
            -webkit-box-decoration-break: clone;
            box-decoration-break: clone;
            padding: 0 5px;
            background-color: var(--theme-color-bg);
        }
    }
    .tags {
        padding: 5px;
        background-color: var(--theme-color-bg);
        margin-left: auto;
        z-index: 10;
        flex-shrink: 0;
    }

    @media screen and (max-width: 576px) {
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 0.5rem;

        .line {
            display: none;
        }
        .title {
            order: 1;

            flex-basis: 100%;
            margin-bottom: 10px;
            font-size: 1.25rem;
            line-height: 100%;
        }
        .tags {
            order: 2;
            margin-left: 0;
        }
        .date {
            order: 3;

            flex-basis: auto;
        }
    }
}