@use "sass:color";
@use '../site/scss/variables.scss' as v;

$font-size: 1.1rem;

.--post-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
    text-decoration: none;
    color: var(--theme-color-text);
    padding: 10px;
    border-radius: 5px;
    line-height: 100%;

    &:hover {
        text-decoration: none;
        transition: background-color 0.2s;
        background-color: var(--theme-color-surface-raised);

        .date {
            color: var(--theme-color-text-muted);
            transition: color 0.2s;
        }
        .title {
            color: var(--theme-color-text-link-hover);
            transition: color 0.2s;
        }
    }

    .date {
        color: var(--theme-color-text-muted),;
        font-size: $font-size;
        font-family: v.$font-primary;
        font-weight: 400;
        flex-basis: 110px;
        flex-shrink: 0;
    }
    .separator {
        background-color: var(--theme-color-text);
        height: 0.05rem;

        &.left {
            flex-basis: 20px;
            flex-shrink: 0;
        }
        &.right {
            flex-basis: 20px;
            flex-shrink: 0;
            flex-grow: 1;
        }
    }
    .title {
        color: var(--theme-color-text-link);
        margin: 0;
        display: inline-block;
        font-family: v.$font-secondary;
        font-size: $font-size;
        font-weight: 500;
    }
    .tags {
        // &> span:first-child {
        //     margin-left: 20px;
        // }
    }

    @media screen and (max-width: v.$media-size-small) {
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 0.5rem;

        .title {
            order: 1;

            flex-basis: 100%;
            margin-bottom: 10px;
            font-size: 1.25rem;
            line-height: 100%;
        }
        .tags {
            order: 2;
        }
        .date {
            order: 3;

            flex-basis: auto;
        }
        .separator {
            display: none;
        }
    }
}