{% from "tag-flag.njk" import tag_flag %}

{% macro post_card(post) %}
    <a class="--post-card" href="{{ post.url }}">
        <div class="line"></div>
        <div class="date">
            <span>{{ post.published_at | isoDate }}</span>
        </div>
        <h2 class="title">
            <span>{{ post.title }}</span>
        </h2>
        {% if post.tags %}
            <div class="tags">
                {%- for tag in post.tags -%}
                    {{ tag_flag(tag, false) }}
                {%- endfor -%}
            </div>
        {% endif %}
    </a>
{% endmacro %}
