{% macro utterances() %}
    <div class="--utterances utterances-container">
        <div class="container">
            <div id="utterances">
                <script
                    src="https://utteranc.es/client.js"
                    repo="ryanc-me/www.ryanc.me"
                    issue-term="pathname"
                    label="comment"
                    theme="photon-dark"
                    crossorigin="anonymous"
                    async>
                </script>
            </div>
        </div>
    </div>
{% endmacro %}
