@use "sass:color";
@use 'variables.scss' as v;

$font-size-content: 1.2rem;
$line-height-content: 1.6;

body {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: color.adjust(v.$color-text, $lightness: 5%);
    font-family: v.$font-primary;
    font-weight: 600;
    margin: 2rem 0 1rem 0;
}

h1 {
    margin-top: 0;
    font-size: 2rem;
}
h2 {
    font-size: 1.75rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.25rem;
}
h5 {
    font-size: 1rem;
}
h6 {
    font-size: 0.875rem;
}
p {
    color: v.$color-text;
    font-family: v.$font-primary;
    font-size: $font-size-content;
    line-height: $line-height-content;
    margin-bottom: 1rem;
}

ul {
    font-size: $font-size-content;
    line-height: $line-height-content;
    color: v.$color-text;
    padding-left: 2rem;
    margin: 0 0 1rem 0;
}
ul li {
    margin-bottom: 0.5rem;
    font-family: v.$font-primary;
}
ol {
    font-size: $font-size-content;
    line-height: $line-height-content;
    color: v.$color-text;
    padding-left: 2rem;
    margin: 0 0 1rem 0;
}
ol li {
    margin-bottom: 0.5rem;
    font-family: v.$font-primary;
}

a {
    color: v.$color-links;
    text-decoration: none;
    font-family: v.$font-primary;
    font-weight: 500;

    &:hover {
        color: color.adjust(v.$color-links, $lightness: 10%);
        text-decoration: underline;
        transition: color 0.2s;
    }
}

figure {
    margin: 1.5rem 0;
    text-align: center;
    display: block;
    width: 100%;


    img {
        max-width: 100%;
        height: auto;
        display: block;

        &:before {
            content: "";
            display: block;
            height: 100%;
            border: 1px solid #AAAAAA;
            padding: 2rem;
            text-align: center;
        }
    }
    figcaption {
        font-size: 0.9rem;
        color: color.scale(v.$color-text, $lightness: -10%);
        text-align: center;
        padding: 0.5rem;
        font-family: v.$font-primary;
        background-color: color.adjust(v.$color-background, $lightness: 5%);
    }
}

pre {
    span.line-numbers-rows {
        padding: inherit;
        padding-right: initial;
    }
}
code:not([class]) {
    font-family: 'Source Code Pro', monospace;
    color: v.$color-text;
    background-color: color.adjust(v.$color-background, $lightness: 5%);
    padding: 0.2rem 0.4rem;
    border-radius: 3px;
    font-size: 0.9rem;
}

blockquote {
    border-left: 4px solid color.adjust(v.$color-accent, $lightness: -20%);
    margin: 1rem 1rem 1rem 0.5rem;
    padding: 0.5rem 0 0.5rem 1rem;
    color: color.scale(v.$color-text, $lightness: 20%);
    font-style: italic;
}

hr {
    border: none;
    border-top: 1px solid v.$color-accent;
    margin: 2rem 0;
}

table {
    font-family: v.$font-primary;
    font-size: $font-size-content;
    color: v.$color-text;
    width: 100%;
    border-collapse: collapse;

    thead {
        th {
            font-family: v.$font-primary;
            font-weight: 600;
            padding: 0.5rem;
            text-align: left;
            border-bottom: 1px solid v.$color-accent;
        }

    }
    tbody {
        td {
            font-family: v.$font-primary;
            padding: 0.5rem;
            border-bottom: 1px solid color.adjust(v.$color-accent, $lightness: -20%);
        }
    }
}