@use "sass:color";

$font-primary: 'Work Sans', sans-serif;
$font-secondary: 'Inter', sans-serif;
$font-accent: 'Red Hat Display', sans-serif;

:root {
    --font-ui: 'Red Hat Display', sans-serif;
    --font-body: 'Work Sans', sans-serif;
    --font-heading: 'Work Sans', sans-serif;
}

// base theme colors
$theme-color0: #111111;
$theme-color1: #FFDBBB;
$theme-color2: #CCBEB1;
$theme-color3: #997E67;
$theme-color4: #664930;


// dark theme
$theme-dark-color-bg: mix($theme-color4, $theme-color0, 5%);
$theme-dark-color-surface: mix($theme-color4, $theme-color0, 25%);
$theme-dark-color-surface-raised: mix($theme-color4, $theme-color0, 30%);
$theme-dark-color-border: mix($theme-color4, $theme-color0, 40%);

$theme-dark-color-text: mix($theme-color1, #ffffff, 20%);
$theme-dark-color-text-muted: $theme-color2;
$theme-dark-color-text-inverse: $theme-color0;
$theme-dark-color-text-link: mix($theme-color1, #ffffff, 80%);
$theme-dark-color-text-link-hover: mix($theme-color1, #ffffff, 40%);
$theme-dark-color-text-heading: mix($theme-color1, $theme-color3, 30%);

$theme-dark-color-brand-primary: mix($theme-color1, $theme-color3, 80%);
$theme-dark-color-brand-primary-contrast: mix($theme-color3, #ffffff, 20%);
$theme-dark-color-brand-accent: $theme-color2;
$theme-dark-color-brand-focus: mix($theme-dark-color-brand-primary, #ffffff, 40%);;

$theme-dark-color-success: mix(#22c55e, $theme-dark-color-bg, 25%);
$theme-dark-color-warning: mix(#f59e0b, $theme-dark-color-bg, 30%);
$theme-dark-color-danger: mix(#ef4444, $theme-dark-color-bg, 28%);
$theme-dark-color-info: mix(#3b82f6, $theme-dark-color-bg, 28%);


// light theme (for now, just a copy of dark)
$theme-light-color-bg: $theme-dark-color-bg;
$theme-light-color-surface: $theme-dark-color-surface;
$theme-light-color-surface-raised: $theme-dark-color-surface-raised;
$theme-light-color-border: $theme-dark-color-border;

$theme-light-color-text: $theme-dark-color-text;
$theme-light-color-text-muted: $theme-dark-color-text-muted; 
$theme-light-color-text-inverse: $theme-dark-color-text-inverse;
$theme-light-color-text-link: $theme-dark-color-text-link;
$theme-light-color-text-link-hover: $theme-dark-color-text-link-hover;
$theme-light-color-text-heading: $theme-dark-color-text-heading;

$theme-light-color-brand-primary: $theme-dark-color-brand-primary;
$theme-light-color-brand-primary-contrast: $theme-dark-color-brand-primary-contrast;
$theme-light-color-brand-accent: $theme-dark-color-brand-accent;
$theme-light-color-brand-focus: $theme-dark-color-brand-focus;

$theme-light-color-success: $theme-dark-color-success;
$theme-light-color-warning: $theme-dark-color-warning;
$theme-light-color-danger: $theme-dark-color-danger;
$theme-light-color-info: $theme-dark-color-info;

:root {
    color-scheme: dark light;

    --theme-color-bg: light-dark(#{$theme-light-color-bg}, #{$theme-dark-color-bg});
    --theme-color-surface: light-dark(#{$theme-light-color-surface}, #{$theme-dark-color-surface});
    --theme-color-surface-raised: light-dark(#{$theme-light-color-surface-raised}, #{$theme-dark-color-surface-raised});
    --theme-color-border: light-dark(#{$theme-light-color-border}, #{$theme-dark-color-border});
    --theme-color-text: light-dark(#{$theme-light-color-text}, #{$theme-dark-color-text});
    --theme-color-text-muted: light-dark(#{$theme-light-color-text-muted}, #{$theme-dark-color-text-muted});
    --theme-color-text-inverse: light-dark(#{$theme-light-color-text-inverse}, #{$theme-dark-color-text-inverse});
    --theme-color-text-link: light-dark(#{$theme-light-color-text-link}, #{$theme-dark-color-text-link});
    --theme-color-text-link-hover: light-dark(#{$theme-light-color-text-link-hover}, #{$theme-dark-color-text-link-hover});
    --theme-color-text-heading: light-dark(#{$theme-light-color-text-heading}, #{$theme-dark-color-text-heading});
    --theme-color-brand-primary: light-dark(#{$theme-light-color-brand-primary}, #{$theme-dark-color-brand-primary});
    --theme-color-brand-primary-contrast: light-dark(#{$theme-light-color-brand-primary-contrast}, #{$theme-dark-color-brand-primary-contrast});
    --theme-color-brand-accent: light-dark(#{$theme-light-color-brand-accent}, #{$theme-dark-color-brand-accent});
    --theme-color-brand-focus: light-dark(#{$theme-light-color-brand-focus}, #{$theme-dark-color-brand-focus});
    --theme-color-success: light-dark(#{$theme-light-color-success}, #{$theme-dark-color-success});
    --theme-color-warning: light-dark(#{$theme-light-color-warning}, #{$theme-dark-color-warning});
    --theme-color-danger: light-dark(#{$theme-light-color-danger}, #{$theme-dark-color-danger});
    --theme-color-info: light-dark(#{$theme-light-color-info}, #{$theme-dark-color-info});
}