$font-primary: 'Work Sans', sans-serif;
$font-secondary: 'Inter', sans-serif;
$font-accent: 'Red Hat Display', sans-serif;

$color-background: #FFFFFE;
$color-text: #181925;
$color-heading: #D6F9DD;
$color-accent: #FF0022;
$color-cta: #3E1929;

$header-logo-color: $color-accent;
$header-logo-font: $font-accent;

$header-nav-color: #222222;
$header-nav-font: $font-accent;

$color-header: $color-background;

$media-size-large: 992px;
$media-size-medium: 768px;
$media-size-small: 576px;
