---
permalink: '/about/index.html'
---
{% extends '../../layouts/base.njk' %}

{% block content %}
    <h1>Who am I?</h1>
    <p>Hello! I'm Ryan, a software engineer and Odoo consultant based in Christchurch, New Zealand.</p>
{% endblock %}