<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="canonical" href={{ page.url | url | absoluteUrl(site.url) }}>
        <link rel="alternate" type="application/rss+xml" href="/feed.xml" title="Feed">
        <script defer data-domain="ryanc.me" src="https://stats.ryanc.me/js/script.js"></script>

        {% bundledcss %}

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

        {% if title and not full_title %}
            {% set full_title = title + " – " + site.title %}
        {% endif %}
        <title>{{ full_title }}</title>

        <link rel="icon" type= “image/x-icon” href="{{ site.icon }}">
        <link rel="shortcut icon" type="image/png" href="{{ site.icon }}"/>

        <meta itemprop="name" content="{{ full_title | escape }}">
        <meta property="og:title" content="{{ full_title | escape }}">
        <meta name="twitter:title" content="{{ full_title | escape }}">
    
        <link rel="author" href="{{ site.url }}/about">
        <link rel="publisher" href="{{ site.url }}">

        <meta property="og:type" content="{{ page_type or 'website' }}"/>
        <meta property="og:url" content="{{ site.url + page.url }}"/>

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:url" content="{{ site.url + page.url }}">

        {% if feature_image %}
            <meta itemprop="image" content="{{ feature_image | url | absoluteUrl(site.url) }}">
            <meta property="og:image" content="{{ feature_image | url | absoluteUrl(site.url) }}"/>
            <meta name="twitter:image" content="{{ feature_image | url | absoluteUrl(site.url) }}"/>
        {% endif %}

        {% if description %}
            <meta name="description" content="{{ description | escape  }}">
            <meta property="og:description" content="{{ description | escape }}">
            <meta name="twitter:description" content="{{ description | escape }}">
        {% endif %}
        

        <link rel="preconnect" href="https://unpkg.com">
        <link
            rel="preload"
            href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css"
            as="style"
            onload="this.onload=null;this.rel='stylesheet'"
        >
        <noscript>
            <link
                href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css"
                rel="stylesheet"
            />
        </noscript>

        {{ site.codeinjection_head | safe if site.codeinjection_head }}
        {{ codeinjection_head | safe if codeinjection_head }}
    </head>
    <body>
        <header class="header">
            <div class="container">
                <div class="title">
                    <a href="{{ '/' | url }}">
                        <h1>{{ site.title }}</h1>
                    </a>
                </div>
                <span id="burger-menu">
                    <span></span>
                </span>
                <div id="nav-close"></div>
                <nav class="nav">
                    <ul>
                        {# {% for doc in collections.docs %}
                            <li class="{{ doc.data.slug }}">
                                <a href="{{ doc.url }}">{{ doc.data.title }}</a>
                            </li>
                        {% endfor %} #}
                        <li class="about">
                            <a href="{{ '/about' | url }}">about</a>
                        </li>
                        <li class="my-work">
                            <a href="{{ 'https://github.com/ryanc-me/' | url }}">my work</a>
                        </li>
                        <li class="contact">
                            <a href="{{ '/contact' | url }}">contact</a>
                        </li>
                        {# <li class="rss">
                            <a href="{{ '/feed.xml' | url }}">rss</a>
                        </li> #}
                    </ul>
                </nav>
            </div>
            <div class="border" />
        </header>

        <main class="main">
            {% block content_before %}{% endblock content_before %}
            <div class="container">
                {% block content %}{% endblock content %}
            </div>
            {% block content_after %}{% endblock content_after %}
        </main>

        <footer class="footer">
            
        </div>

        {% bundledjs %}
    </body>
</html>
