@use "sass:color";

body {
    background-color: var(--theme-color-bg);
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    > header {
        $bottom-spacing: 3rem;

        background-color: var(--theme-color-surface);
        width: 100%;

        .border {
            border-top: 1px solid var(--theme-color-border);
        }
        .container {
            max-width: 900px;
            margin: 2rem auto 1rem auto;
            padding: 0 1rem;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }

        .title {
            a {
                display: inline-block;
                text-decoration: none;

                &:hover {
                    h1 {
                        color: var(--theme-color-brand-focus);
                        transition: color 0.2s;
                    }
                }
                h1 {
                    margin: 0;
                    padding: 0;
                    font-size: 2rem;
                    font-family: var(--font-heading);
                    font-weight: 600;
                    color: var(--theme-color-brand-primary);
                }
            }
        }
        #burger-menu {
            cursor: pointer;
            height: 27px;
            width: 27px;
            margin: 5px 8px 5px 5px;
            overflow: visible;
            position: relative;
            z-index: 2;

            display: none;

            span,
            span:before,
            span:after {
                background: var(--theme-color-text);
                display: block;
                height: 0.1rem;
                opacity: 1;
                position: absolute;
                transition: 0.3s ease-in-out;
            }

            span:before,
            span:after {
                content: '';
            }

            span:before {
                left: 0px;
                top: -10px;
                width: 27px;
            }
            span {
                right: 0px;
                top: 13px;
                width: 27px;
            }
            span:after {
                left: 0px;
                top: 10px;
                width: 27px;
            }

            &.close {
                span:before {
                    top: 0px;
                    transform: rotate(90deg);
                    width: 27px;
                }
                span {
                    transform: rotate(-45deg);
                    top: 13px;
                    width: 27px;
                }
                span:after {
                    top: 0px;
                    left: 0;
                    transform: rotate(90deg);
                    opacity: 0;
                    width: 0;
                }
            }
        }
        nav {
            ul {
                display: flex;
                list-style: none;
                padding: 0;
                margin: 0;
                font-family: var(--font-heading);
                font-size: 1.2rem;

                li {
                    &:not(:last-child) {
                        margin-right: 1rem;
                    }

                    a {
                        text-decoration: none;
                        color: var(--theme-color-brand-primary);
                        display: inline-block;
                        padding: 5px;
                        font-weight: 500;
                        
                        &:hover {
                            color: var(--theme-color-brand-focus);
                            transition: color 0.2s;
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 768px) {
            .container {
                margin: 1rem auto 1rem auto;
                align-items: center;
            }

            #burger-menu {
                display: block;
            }
            
            #nav-close {
                position: absolute;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                background: rgba(0,0,0,0.6);
                z-index: 0;
                opacity: 0;
                visibility: hidden;
                transition: all .3s ease-in-out;

                &.visible {
                    visibility: visible;
                    opacity: 1;
                }
            }
            nav {
                z-index: 1;
                height: 100vh;
                position: fixed;
                right: -100%;
                top: 0;
                opacity: 0;
                visibility: hidden;
                transition: all .3s ease-in-out;
                padding-top: 75px;
                padding-right: 20px;
                background-color: var(--theme-color-surface);
                box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.1);

                &.overlay {
                    visibility: visible;
                    opacity: 1;
                    right: 0;
                }

                ul {
                    flex-direction: column;
                    align-items: flex-end;
                    padding: 1rem 0 1rem 2rem;

                    li {
                        font-size: 1.5rem;
                        &:not(:last-child) {
                            margin-right: 0;
                            margin-bottom: 0.5rem;
                        }
                    }
                }
            }
        }
    }

    > main {
        width: 100%;
        margin: 2rem 0 0 0;

        .container {
            max-width: 900px;
            margin: 0 auto;
            padding: 0 1rem;

            .description {
                text-align: center;
                margin: 0 0 2rem 0;
                color: var(--theme-color-text-muted);
                font-family: var(--font-body);
                font-size: 1.2rem;
            }
        }

    }

    > footer {

    }
}