@use "sass:color";
@use '../site/scss/variables.scss' as v;

body {
    background-color: v.$color-background;
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    > header {
        $bottom-spacing: 3rem;

        background-color: v.$color-header;
        width: 100%;

        .border {
            border-top: 1px solid #eeeeee;
        }
        .container {
            max-width: 900px;
            margin: 2rem auto 1rem auto;
            padding: 0 1rem;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }

        .title {
            a {
                display: inline-block;
                padding: 5px;
                text-decoration: none;

                &:hover {
                    h1 {
                        color: color.adjust(v.$header-logo-color, $lightness: -10%);
                        transition: color 0.2s;
                    }
                }
                h1 {
                    margin: 0;
                    padding: 0;
                    font-size: 2rem;
                    font-family: v.$header-logo-font;
                    font-weight: 700;
                    color: v.$header-logo-color;
                }
            }
        }
        #burger-menu {
            cursor: pointer;
            height: 27px;
            width: 27px;
            margin: 5px;
            overflow: visible;
            position: relative;
            z-index: 2;

            display: none;

            span,
            span:before,
            span:after {
                background: #333333;
                display: block;
                height: 2px;
                opacity: 1;
                position: absolute;
                transition: 0.3s ease-in-out;
            }

            span:before,
            span:after {
                content: '';
            }

            span:before {
                left: 0px;
                top: -10px;
                width: 27px;
            }
            span {
                right: 0px;
                top: 13px;
                width: 27px;
            }
            span:after {
                left: 0px;
                top: 10px;
                width: 27px;
            }

            &.close {
                span:before {
                    top: 0px;
                    transform: rotate(90deg);
                    width: 27px;
                }
                span {
                    transform: rotate(-45deg);
                    top: 13px;
                    width: 27px;
                }
                span:after {
                    top: 0px;
                    left: 0;
                    transform: rotate(90deg);
                    opacity: 0;
                    width: 0;
                }
            }
        }
        nav {
            ul {
                display: flex;
                list-style: none;
                padding: 0;
                margin: 0;
                font-family: v.$header-nav-font;
                font-weight: 700;
                font-size: 1.2rem;

                li {
                    &:not(:last-child) {
                        margin-right: 1rem;
                    }

                    a {
                        text-decoration: none;
                        color: v.$header-nav-color;
                        display: inline-block;
                        padding: 5px;
                        
                        &:hover {
                            color: v.$color-accent;
                            transition: color 0.2s;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        @media screen and (max-width: v.$media-size-medium) {
            .container {
                margin: 1rem auto 1rem auto;
                align-items: center;
            }

            #burger-menu {
                display: block;
            }

            nav {
                z-index: 1;
                width: 100vw;
                max-width: 150px;
                height: 100vh;
                position: fixed;
                right: -100%;
                top: 0;
                opacity: 0;
                visibility: hidden;
                transition: all .3s ease-in-out;
                padding-top: 75px;
                padding-right: 20px;
                background-color: white;
                box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.1);

                &.overlay {
                    visibility: visible;
                    opacity: 1;
                    right: 0;
                }

                ul {
                    flex-direction: column;
                    align-items: flex-end;

                    li {
                        font-size: 1.5rem;
                        &:not(:last-child) {
                            margin-right: 0;
                            margin-bottom: 0.5rem;
                        }
                    }
                }
            }
        }
    }

    > main {
        width: 100%;
        margin: 2rem 0 0 0;

        .container {
            max-width: 900px;
            margin: 0 auto;
            padding: 0 1rem;

            .description {
                text-align: center;
                margin: 0 0 2rem 0;
                color: color.adjust(color.scale(v.$color-text, $saturation: -50%), $lightness: 20%);
                font-family: v.$font-primary;
                font-size: 1.2rem;
            }
        }

    }

    > footer {

    }
}