---
permalink: /
---
{% extends '../layouts/base.njk' %}
{% from "post-list.njk" import post_list %}

{% set full_title = site.title %}
{% set description = site.description %}

{% block content %}
    {% set posts = collections.posts | head(-10) %}
    {{ post_list(posts) }}
{% endblock%}

